@import '../../style/variable.scss';

.footer {

    &_credit {
        padding: 15px 0;

        @include lg {
            padding: size(30) 0;
        }

        p {
            color: #DADADA;
            line-height: 1;
            font-size: 13px;

            @include lg {
                font-size: size(20);
            }

            a {
                color: #DADADA;
                transition: 0.3s all ease;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

  

    .btn {
        font-size: 30px;
        color: #727272;
    }
    .btn2 {
        font-size: 45px;
        color: #727272;
    }
}