@import '../../style/variable.scss';


.section {
    background-color: #ffffff;
    position: relative;
    z-index: 11;
    min-height: 100vh;
 .letter, .letter_line {
    will-change: transform;
    opacity: 0;
 }
}




.logo_wrap {
    max-width: 75%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.title {
    font-size: 36px;
    @include lg {
        font-size: 120px;
    }
    span {
        opacity: 0;
        will-change: transform, opacity;
        margin-right: 15px;
        display: inline-block;
        @include lg {
            margin-right: 25px;  
        }
    }
}

.content_wrap {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.title_sm {
   
    font-size: 40px;
    opacity: 0;
    will-change: transform, opacity;
    @include lg {
        font-size: 70px;
    }

}
.line {
    position: absolute;
    left: 50%;
    top: 90px;
    width: 2px;
    background-color: rgb(255, 255, 255);
    height: 50vh;
}